@font-face {
    font-family: "Circe";
    src: local("Circe Regular"), local("Circe-Regular"), url("Circe-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Circe";
    src: local("Circe Bold"), local("Circe-Bold"), url("Circe-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
