@import '../../../../../src/assets/styles/mixins';

.Ñash_table_block {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 32px;
  position: relative;

  .info {
    cursor: pointer;
  }

  .tabs {
    &__menu {
      display: flex;
      padding: 3px 6px;
      position: absolute;
      top: 21px;
      left: 135px;
      margin: 0;
      border: 1px solid rgba(53, 121, 252, 0.24);
      box-sizing: border-box;
      border-radius: 16px;
      @media only screen and (max-width: 768px) {
        top: 66px;
        left: 20px;
      }
    }
    &__btn {
      padding: 0px 8px;
      display: flex;
      align-items: center;
      height: 24px;
      border-radius: 16px;
      color: var(--secondary_light);
      &--active,
      &:hover {
        padding: 4px 8px;
        background: var(--info);
        box-shadow: -1px 1px 2px rgba(53, 121, 252, 0.24);
        border-radius: 16px;
        color: var(--white);

        &:after {
          display: none;
        }
      }
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px 24px;
    @media only screen and (max-width: 768px) {
      margin-top: 4px;
      border-top: 1px solid rgba(53, 121, 252, 0.2);
      padding: 16px 20px;
    }
    .left {
      align-items: center;
      display: flex;
      height: 30px;
      .icon {
        border-right: 1px solid rgba(53, 121, 252, 0.2);
        padding-right: 12px;
        margin-right: 24px;
        height: 30px;
      }
    }
    .select-component {
      min-width: auto;
      .select__control {
        background: var(--white);
        border-radius: 24px;
        border: none;
        min-height: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        &--menu-is-open {
          background: transparent;
        }
      }
      .select__placeholder {
        color: var(--secondary_light);
        opacity: 1;
        top: auto;
        position: inherit;
        transform: translateY(0%);
        font-weight: 600;
      }
      .select__single-value {
        color: var(--secondary_light);
        opacity: 1;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        margin-left: 2px;
        margin-right: 2px;
        max-width: calc(100% - 8px);
        overflow: initial;
        position: inherit;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-sizing: border-box;
      }
      .select__value-container {
        height: 24px;
        padding: 2px 0 2px;
        overflow: inherit;
      }
      .select__indicator {
        padding: 0;
        svg {
          stroke: var(--secondary);
          fill: var(--secondary);
          path {
            stroke: var(--secondary);
          }
        }
      }
      .select__menu {
        width: 162px;
      }
      .select__option--is-selected {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: var(--third_light);
      }
      .select__option {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: var(--third_light);
      }
      .select__option--is-focused {
        color: var(--info);
        background: var(--white);
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 768px) {
        position: absolute;
        bottom: 72px;
        left: calc(50% - 115px);
      }
      > span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: var(--secondary);
        opacity: 0.5;
        margin-right: 24px;
      }

      .select-component {
        min-width: auto;
        .select__menu {
          width: 50px;
        }
        .select__option--is-selected {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: var(--third_light);
        }
        .select__option {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: var(--third_light);
        }
        .select__option--is-focused {
          color: var(--info);
          background: var(--white);
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .no_items {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: var(--secondary_light);
      margin-top: 14px;
    }
  }

  .status {
    div {
      margin: 0 0 0 auto;
      width: 80px;
      height: 24px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }
  }
  .date {
    span {
      padding: 0 30px 0 14px;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    &.purple {
      span {
        background: linear-gradient(180deg, #e2dafd 0%, #d6cbfc 100%) !important;
      }
    }
    @media only screen and (min-width: 769px) {
      width: 100%;
    }
    span {
      width: 36px;
      height: 36px;
      background: #eff4fb;
      border-radius: 6px;
      margin-right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 768px) {
        margin-right: 12px;
      }
    }
  }
  .action {
    div {
      display: flex;
      align-content: center;
      line-height: 30px;
      span {
        display: flex;
        align-items: center;
        margin-left: 8px;
      }
      svg {
        margin-right: -10px;
      }
    }
  }
  .title {
    padding: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--primary);
    @media only screen and (max-width: 768px) {
      padding: 24px 20px 64px;
    }
  }

  .sort_btn {
    display: flex;
    align-items: center;
    > div {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      svg {
        margin: 2px 0;
      }
    }
  }
  .up {
    .up_icon {
      path {
        opacity: 1;
        stroke: var(--info);
        fill: var(--info);
        path {
          stroke: var(--info);
        }
      }
    }
  }
  .down {
    .up_down {
      path {
        opacity: 1;
        stroke: var(--info);
        fill: var(--info);
        path {
          stroke: var(--info);
        }
      }
    }
  }
  .mob_table {
    display: none;
    flex-direction: column;
    > div {
      border-top: 1px solid rgba(53, 121, 252, 0.2);
      padding: 16px 20px 24px;
      position: relative;
      .status {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .time {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: var(--secondary);
        margin-bottom: 13px;
        opacity: 0.7;
        @media only screen and (min-width: 769px) {
          svg {
            margin-right: 7px;
          }
        }
      }
      .add_info {
        position: absolute;
        top: 16px;
        right: 24px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        .currency {
          display: flex;
          align-items: center;
          margin-bottom: 13px;
          .currency_icon {
            margin-right: 22px;
            min-width: 42px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            svg {
              margin-right: -10px;
            }
          }
          .small {
            display: flex;
            margin-right: 8px;
          }
          > span {
            font-weight: 600;
            font-size: 14px;
            line-height: 25px;
            color: var(--secondary);
          }
          > p {
            font-size: 13px;
            line-height: 25px;
            color: var(--secondary_light);
          }
        }
        .action {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--secondary);
          opacity: 0.7;
        }
        .amount {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          span {
            font-weight: 600;
            font-size: 15px;
            text-align: right;
            letter-spacing: 0.02em;
            color: var(--secondary);
            margin-bottom: 6px;
          }
          p {
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: var(--secondary_light);
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
      display: flex;
    }
  }
  .desc {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .pagination-container {
    border-top: 1px solid rgba(53, 121, 252, 0.2);
    padding: 20px 30px;
    margin-top: 4px;
    @media only screen and (max-width: 768px) {
      justify-content: center;
      padding: 64px 30px 10px;
    }
  }
}

.tabs__panel {
  tbody {
    tr {
      td.action {
        p {
          float: left;
          margin-right: 4px;
        }
        svg {
          width: 24px;
          height: 24px;
          padding: 0 0 5px 0;
        }
      }
    }
  }
}

.table.desc.applications {
  tbody {
    tr {
      td {
        &.icon {
          display: flex;
          align-items: center;
          width: 100%;
          span {
            width: 36px;
            height: 36px;
            background: #eff4fb;
            border-radius: 6px;
            margin-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &.action {
          vertical-align: initial;
        }
      }
    }
  }
  .info_td {
    > div {
      display: flex;
      align-content: center;
      cursor: pointer;
    }
  }
}
.applications.mob_table {
  & > div {
    .info {
      display: flex;
      align-items: center;
      height: 25px;
      .time {
        margin-bottom: 6px;
      }
      &:first-child {
        margin-bottom: 10px;
      }
      .amount {
        span {
          display: flex;
          align-content: center;
          svg {
            width: 24px;
            height: 24px;
            margin-bottom: -6px;
          }
        }
        .info_td {
          margin: 0 0 0 8px;
        }
      }
      .status {
        width: 100%;
        padding: 2px 10px;
        height: 24px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
      &:last-child {
        margin-top: 15px;
      }
    }
  }
}

.check_error_dialog {
  h2 {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 26px;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__descriptions {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    svg {
      background-size: 100% 100%;
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
    > div {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: var(--secondary);
      span {
        margin-left: 4px;
      }
    }
    hr {
      width: 4px;
      height: 4px;
      background: #4b5563;
      border-radius: 50%;
      margin: 0 8px;
    }
    p {
      font-size: 14px;
      color: var(--secondary);
    }
  }
  &__wallets {
    border-top: 1px solid rgba(53, 121, 252, 0.2);
    border-bottom: 1px solid rgba(53, 121, 252, 0.2);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      padding: 22px 0 0;
    }
    > div {
      display: flex;
      margin: 15px 0;
      align-items: center;
      position: relative;
      .desc {
        min-width: 64px;
      }
      .mob {
        display: none;
      }
      @media only screen and (max-width: 768px) {
        margin: 22px 0;
        .desc {
          display: none;
        }
        .mob {
          display: flex;
          min-width: 36px;
        }
      }
      > div {
        margin-left: 11px;
        display: flex;
        flex-direction: column;
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: var(--primary);
          @media only screen and (max-width: 768px) {
            position: absolute;
            left: 0;
            top: -28px;
          }
        }
        p {
          word-wrap: break-word;
          font-size: 14px;
          line-height: 18px;
          color: var(--dark_second);
          opacity: 0.7;
          display: flex;
          flex-wrap: wrap;
          word-break: break-all;
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 24px 0 10px;
    border-bottom: 1px solid rgba(53, 121, 252, 0.2);
    @include mq(sm-down) {
      padding: 20px 0 8px;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      @include mq(sm-down) {
        margin-bottom: 12px;
      }
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: var(--primary_light);
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: #111827;
      }
    }
    .status {
      margin: 0 0 0 auto;
      width: 80px;
      height: 24px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }
  }
  &__net_ammount {
    padding: 20px 0 0 0;
    .text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 32px;
      @include mq(sm-down) {
        margin-bottom: 24px;
      }
      > span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: var(--primary);
      }
      > div {
        display: flex;
        flex-direction: column;
        > span {
          font-weight: 600;
          font-size: 15px;
          line-height: 17px;
          letter-spacing: 0.02em;
          color: var(--secondary);
          margin-bottom: 6px;
        }
        p {
          font-weight: 500;
          font-size: 13px;
          line-height: 13px;
          color: var(--secondary_light);
        }
      }
    }
  }
  &__details_statuses {
    background: #f8fafd;
    border: 1px solid rgba(53, 121, 252, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px;
    @include mq(sm-down) {
      padding: 12px;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;
        line-height: 24px;
        font-weight: 500;
        font-size: 14px;
        color: var(--primary);
        @include mq(sm-down) {
          font-size: 13px;
          line-height: 16px;
        }
        svg {
          margin-right: 8px;
        }
      }
      button {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      div {
        color: rgba(20, 29, 51, 0.7);
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 6px;
        span {
          color: var(--dark_second);
        }
      }
      > div:last-of-type {
        margin: 0;
      }
    }
  }
  //color: rgba(7, 19, 45, 0.8);
}
