.Invest_detail_block {
  background: #ffffff;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.03), 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 32px;
  overflow: hidden;
  padding: 30px 28px 24px;
  position: relative;

  @media only screen and (max-width: 1500px) {
    padding: 30px 19px 24px;
  }
  @media only screen and (max-width: 1410px) {
    padding: 30px 12px 24px;
  }
  @media only screen and (max-width: 768px) {
    padding: 24px 15px 20px;
    margin-bottom: 24px;
  }
  &._loading {
    min-height: 550px;
  }
  .title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(----primary);
    @media only screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .descriptions {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--primary_light);
    margin-bottom: 12px;
  }
  .time {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary);
    @media only screen and (max-width: 1560px) {
      font-size: 12px;
    }
    @media only screen and (max-width: 320px) {
      flex-wrap: wrap;
      p {
        margin-left: 30px !important;
      }
    }
    p {
      margin-left: 12px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: var(--grey_light);
      @media only screen and (max-width: 1445px) {
        margin-left: 6px;
      }
    }
    svg {
      margin-right: 10px;
      @media only screen and (max-width: 1445px) {
        margin-right: 6px;
      }
    }
  }

  .more_info {
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 28px;
    background: rgb(255, 248, 224);
    border: 1px solid rgba(252, 184, 53, 0.4);
    border-radius: 6px;
    span {
      margin-bottom: 10px;
      display: flex;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: rgba(17, 24, 39, 0.7);
    }
    button {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-decoration-line: underline;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      color: var(--info);
      svg {
        margin-right: 8px;
      }
    }
  }
  .btn_download {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height: 48px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      svg {
        margin-right: 8px;
      }
    }
    .buy {
      background: #3579fc;
      border-radius: 4px;
      color: #ffffff;
    }
    .sell {
      border: 1px solid rgba(53, 121, 252, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      color: #ff4242;
    }
  }
  .active {
    button {
      width: 100%;
    }
  }
  .inactive {
    button:first-of-type {
      margin-right: 20px;
    }
    button {
      width: calc(50% - 10px);
    }
  }
  .block {
    padding: 24px 0;
    border-top: 1px solid rgba(53, 121, 252, 0.2);
    @media only screen and (max-width: 768px) {
      padding: 20px 0 24px;
    }
    .info {
      padding: 4px 0 8px;
      div {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 14px;
          line-height: 16px;
          color: var(--secondary_light);
          display: flex;
          align-items: center;
          @media only screen and (max-width: 1534px) {
            font-size: 13px;
          }
          @media only screen and (max-width: 325px) {
            font-size: 12px;
          }
          > p {
            display: flex;
            align-items: center;
            margin-right: 6px;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
          }
        }
      }
      hr {
        height: 1px;
        width: 100%;
        background: rgba(53, 121, 252, 0.2);
        margin: 20px 0 28px;
      }
    }
    .amount {
      border-top: 1px dashed rgba(53, 121, 252, 0.2);
      display: flex;
      margin: 0 -28px;
      align-items: center;
      justify-content: space-between;
      padding: 38px 28px 0;
      position: relative;
      @media only screen and (max-width: 768px) {
        padding: 38px 20px 0;
        margin: 0 -20px;
      }
      &:before {
        position: absolute;
        content: '';
        top: -12px;
        width: 24px;
        height: 24px;
        left: -12px;
        background: #eff4fb;
        border-radius: 50%;
      }
      &:after {
        position: absolute;
        content: '';
        top: -12px;
        width: 24px;
        height: 24px;
        right: -12px;
        background: #eff4fb;
        border-radius: 50%;
      }
      span {
        text-transform: uppercase;
        color: var(--secondary_light);
        font-weight: 600;
      }
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--secondary);
      }
    }
  }
  .blue {
    color: var(--info);
  }
  .green {
    color: var(--green);
  }
  .red {
    color: var(--red);
  }
}
