.wallets_page{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @media only screen and (max-width: 1360px) {
    flex-direction: column;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 72.8%;
    @media only screen and (max-width: 1360px) {
      width: 100%;
      display: block;
    }
    .notifications_block {
      display: none;
      @media only screen and (max-width: 1360px) {
        display: flex;
        margin-bottom: 30px;
      }
    }
  }
  .wrapper_left{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    width: calc(27% - 24px);
    min-width: calc(27% - 24px);
    @media only screen and (max-width: 1360px) {
      width: 100%;
      min-width: 100%;
      margin-bottom: 30px;
    }
    .notifications_block{
      @media only screen and (max-width: 1360px) {
        //display: none;
      }
    }
  }
}


