.wallet_value_block{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
  display: flex;
  background: var(--white);
  flex-direction: column;
  border-radius: 4px;
  padding: 24px 28px;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.03), 0px 4px 8px rgba(0, 0, 0, 0.05);
  @media only screen and (max-width: 768px) {
    margin-bottom: 24px;
    padding: 20px 24px;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--primary);
      @media only screen and (max-width: 768px) {
       margin-bottom: 16px;
        font-size: 18px;
        line-height: 26px;
      }
    }
    .btn_chart{
      background: rgba(66, 121, 227, 0.1);
      border: 1px solid rgba(226, 226, 226, 0.5);
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 9px 4px;
      button{
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: rgba(17, 24, 39, 0.5);
        margin: 0px 12px;
      }
      .active{
        color: var(--blue);
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;
    }
  }
  .chart{
    @media only screen and (max-width: 768px) {
      width: 100%;
        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }
        &::-webkit-scrollbar-track {
          -webkit-border-radius: 2px;
          background: #E3E6EB;
        }
        &::-webkit-scrollbar-thumb {
          background: #3579FC;
          border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background: #3579FC;
          border-radius: 2px;
        }
        overflow: auto;
    }
    svg{
      width: 100%;
      @media only screen and (max-width: 768px) {
          //min-width: 831px;
          width: 100%;
      }
    }
  }

  .no_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0 120px;
    @media only screen and (max-width: 768px) {
      padding: 36px 0 60px;

    }
    span{
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      margin-top: 16px;
      color: var(--secondary_light);
    }
  }
}
