:root {
  --font: 'Gilroy', sans-serif;
  --subfont: 'Montserrat', sans-serif;
  --circefont: 'Circe', sans-serif;
  --robotofont: 'Roboto', sans-serif;
  --interfont: 'Inter', sans-serif;

  --primary: #07132D;
  --primary_light: rgba(7, 19, 45, 0.7);
  --secondary: #111827;
  --secondary_light: rgba(17, 24, 39, 0.7);
  --secondary_08: rgba(17, 24, 39, 0.8);
  --third: #130F2E;
  --third_light: rgba(19, 15, 46, 0.7);
  --error: #FE2946;
  --red: #FF4242;
  --warning: #ffae00;
  --info: #3579FC;
  --blue: #2D6BE1;
  --green: #15B176;
  --success: #2cc197;
  --light: #E5E5E5;
  --dark: rgba(17, 24, 39, 0.5);
  --dark_second: #141D33;
  --dark_third: #131313;
  --grey: #4B5563;
  --grey_light: #A1A6B2;
  --brown: #8D4F35;

  --bg: #f5f8fd;
  --white: #ffffff;
  --white_dark: #FCFCFC;
  --black: #000000;

  --container: 1390px;
  --small-container: 890px;
}
