.transaciton_table_block {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 32px;
  position: relative;
  .info {
    cursor: pointer;
  }

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 28px;
    @media only screen and (max-width: 768px) {
      margin-top: 4px;
      padding: 16px 20px;
    }
    .left {
      align-items: center;
      display: flex;
      height: 30px;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
      }
      .title {
        padding-right: 48px;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: var(--primary);
        @media only screen and (max-width: 768px) {
          padding: 0 0 24px;
        }
      }
      .options {
        display: flex;
        align-items: center;
      }
      .icon {
        border-right: 1px solid rgba(53, 121, 252, 0.2);
        padding-right: 12px;
        margin-right: 24px;
        height: 30px;
      }
    }
    .select-component {
      min-width: auto;
      .select__control {
        background: var(--white);
        border-radius: 24px;
        border: none;
        min-height: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        &--menu-is-open {
          background: transparent;
        }
      }
      .select__placeholder {
        color: var(--secondary_light);
        opacity: 1;
        top: auto;
        position: inherit;
        transform: translateY(0%);
        font-weight: 600;
      }
      .select__single-value {
        color: var(--secondary_light);
        opacity: 1;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        margin-left: 2px;
        margin-right: 2px;
        max-width: calc(100% - 8px);
        overflow: initial;
        position: inherit;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-sizing: border-box;
      }
      .select__value-container {
        height: 24px;
        padding: 2px 0 2px;
        overflow: inherit;
      }
      .select__indicator {
        padding: 0;
        svg {
          stroke: var(--secondary);
          fill: var(--secondary);
          path {
            stroke: var(--secondary);
          }
        }
      }
      .select__menu {
        width: 162px;
      }
      .select__option--is-selected {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: var(--secondary_light);
      }
      .select__option {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: var(--secondary_light);
      }
      .select__option--is-focused {
        color: var(--info);
        background: var(--white);
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 768px) {
        position: absolute;
        bottom: 72px;
        left: calc(50% - 115px);
        &.mob_bot {
          bottom: 20px;
        }
      }
      > span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: var(--secondary);
        opacity: 0.5;
        margin-right: 24px;
      }

      .select-component {
        min-width: auto;
        .select__menu {
          width: 50px;
        }
        .select__option--is-selected {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: var(--third_light);
        }
        .select__option {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: var(--third_light);
        }
        .select__option--is-focused {
          color: var(--info);
          background: var(--white);
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .no_items {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: var(--primary);
      width: 100%;
      padding: 32px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: var(--secondary);
      opacity: 0.7;
      margin-top: 14px;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    width: 100%;
    span {
      //min-width: 36px;
      width: 36px;
      height: 36px;
      padding: 4px;
      background: #eff4fb;
      border-radius: 6px;
      margin-right: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
      @media only screen and (max-width: 768px) {
        margin-right: 12px;
      }
    }
  }
  .action {
    padding-left: 10%;
  }

  .text_right {
    button {
      margin: 0 0 0 auto;
    }
  }
  .sort_btn {
    display: flex;
    align-items: center;
    color: var(--third_light);
    > div {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      svg {
        margin: 2px 0;
      }
    }
  }
  .up {
    .up_icon {
      path {
        opacity: 1;
        stroke: var(--info);
        fill: var(--info);
        path {
          stroke: var(--info);
        }
      }
    }
  }
  .down {
    .up_down {
      path {
        opacity: 1;
        stroke: var(--info);
        fill: var(--info);
        path {
          stroke: var(--info);
        }
      }
    }
  }
  .mob_table {
    display: none;
    flex-direction: column;
    > div {
      border-top: 1px solid rgba(53, 121, 252, 0.2);
      padding: 16px 20px 24px;
      position: relative;
      display: flex;
      flex-direction: column;

      .time {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: var(--secondary_light);
        margin-bottom: 13px;
        p {
          margin-left: 16px;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .block {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--secondary);
      }
      .info {
        display: flex;
        justify-content: space-between;
        .action {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--secondary);
          opacity: 0.7;
        }
        .amount {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          span {
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            text-align: right;
            letter-spacing: 0.02em;
            color: var(--secondary);
            margin-bottom: 6px;
          }
          p {
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: var(--secondary_light);
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
      display: flex;
      &.mob_bot {
        padding-bottom: 30px;
      }
    }
  }
  .desc {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .pagination-container {
    border-top: 1px solid rgba(53, 121, 252, 0.2);
    padding: 20px 30px;
    margin-top: 4px;
    @media only screen and (max-width: 768px) {
      justify-content: center;
      padding: 64px 30px 10px;
    }
  }
}
